body{
  width: 350px;
  height: 360px;
}
.setting{
  margin: 10px;
}
.form-margin{
  margin-top: 10px;
  margin-bottom: 10px;
}
.number-input{
  width: 70px;
}
#error {
  width : 100%;
  padding: 0;
  display: inline-block;
  font-size: 90%;
  color: red;
  box-sizing: border-box;
}
